@charset "UTF-8";

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 400px;
  height: 100px;
  background-color: #2c2c2c;
}

#footer p, #footer a {
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0.5rem
}

#footer a {
  font-size: 0.75rem;
  margin: 0.25rem;
}