@charset "UTF-8";

#page-not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
}

#page-not-found h1 {
  margin: 0;
  padding: 0;
  color: #FCA800;
}